<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.wisedog.android.whooing"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        >
        <activity
            android:name=".Whooing"
            android:label="@string/app_name" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" 
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <!-- SMS 수신부분 정의 -->
        <receiver android:name="net.wisedog.android.whooing.sms.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="WhooingMain"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <activity
            android:name="WhooingAuth"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.TransactionAdd"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.TransactionEntries"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:name=".activity.AccountsSelection"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity android:name="net.wisedog.android.whooing.activity.MainFragmentActivity" android:theme="@style/Theme.VPI"></activity>
        <activity android:name=".activity.ExpBudgetFragment"></activity>
    </application>

</manifest>